@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@media print {
  aside {
    display: none !important;
  }
  header {
    display: none !important;
  }
  main {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }
  .no-print {
    display: none !important;
  }
  
  /* Expand cards for printing */
  .shadow-sm, .shadow-xl {
    box-shadow: none !important;
    border: 1px solid #ddd !important;
  }
}

